*{
    font-family: "Calibri";
}
.back-button{
    position: relative;
    top :20px;
    left:15px;
    color: rgb(13, 92, 87);
    background-color:#d7e1e3;
    border-radius: 50%;
    height: 21px ;  
    width: 21px ;
    font-family: "Calibri";
}

.heading{
    font-size: 16px;
    text-align: center;
    margin-bottom:20px ;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.822);
    font-family: "Calibri";
    line-height: 0.8;
}
.logo{
    height:100px;
    display: inline-block;
    position: absolute;
    top: 85px;
    left: 60%;
    font-family: "Calibri";
}
  
h1{
    font-weight: bold;
    text-align: center;
    color: rgb(13, 92, 87);
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 0.8;
    font-family: "Calibri";
}
.input-icon-box{
    --background:#e3f4f3;
    font-size: 18px;
    border-radius: 7px;
    margin: 7px 15px 7px 15px;
    height: 45px;
    font-family: "Calibri";
    color: rgb(39, 42, 42);
    border: none;
    --border-style:none !important;
    font-family: "Calibri";
    line-height: 1.2;
}
ion-item{
    --border-style:none !important;
    font-family: "Calibri";
}
.icon-box{
    color: rgb(13, 92, 87) ;
   height: 15px;
   font-family: "Calibri";
}

  
.term-condition-box{
    color: rgb(9, 74, 71);
    font-size: 16px;
    text-align: center;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    font-family: "Calibri";
}
.signup-button{
    padding:0px 15px 5px 15px;
    --background:rgba(13, 163, 153);
    font-size: larger;
    text-transform: capitalize;
    height: 40px;
    min-height: 0px !important;
    font-family: "Calibri";
    font-size: 24px;
    line-height: 1;
  }
.anchor-text{
    color: rgb(9, 74, 71);
    font-size: 17px;
    font-family: "Calibri";
    line-height: 1.5;
    text-decoration:underline;
    font-family: "Calibri";
}
  

@media only screen and (min-width:700px) {
    .label-input-style{
        width: 50%;
        left: 25%;
        position: relative;
        margin-right:0px ;
        margin-left: 0px;
        padding: 0px;
      }
      .logo{
        left: 56%;
      }
      ion-button{
        margin:30px 25% 5px 25px;
        padding: 0px;
      }
}